:root {
  --space: 1rem;
  --bg: #09090b;
  --fg: #e3e3e3;
  --surface-1: #101012;
  --surface-2: #27272a;
  --surface-3: #52525b;
  --ease-out: cubic-bezier(0.5, 1, 0.89, 1);
  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);
}

body {
  display: grid;
  color: var(--fg);
  background: var(--bg);
  padding: var(--space);
  min-height: 100vh;
  place-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espacio entre el input y el botón */
}

.minimal-input {
  background: transparent;
  border: 2px solid var(--surface-2);
  padding: 10px 15px;
  font-size: 1rem;
  color: var(--fg);
  border-radius: 5px;
  outline: none;
  transition: border-color 300ms var(--ease-out);
  width: 400px;
  height: 200px;
  text-align: left;
  resize: none;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.minimal-input:focus {
  border-color: var(--active-color);
}

.card {
  --active-color: #fef08a;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4/5;
  border: 1px solid var(--surface-2);
  border-radius: 5px;
  padding: 2rem;
  transition: border-color 200ms var(--ease-out);
  user-select: none;
  width: 370px;
  height: 10px;
  text-align: center;
  cursor: pointer;
}

pixel-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.button-text {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--surface-3);
  z-index: 1; /* "Enviar" button overposition on pixel-canvas */
  transition: color 300ms var(--ease-out), transform 300ms var(--ease-out);
}

button {
  display: none;
}

.card:hover {
  border-color: var(--active-color);
}

.card:hover .button-text {
  color: var(--active-color);
  transform: scale(1.1);
}

.response {
  background: var(--surface-1);
  color: var(--fg);
  border-left: 4px solid var(--active-color);
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
  max-width: 400px;
  text-align: left;
  margin-top: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-out;
  line-height: 1.4;
  word-wrap: break-word;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-title {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fde047;
  text-align: center;
  margin-bottom: 1rem;
  position: relative;
}

.header-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #fde047;
  margin: 8px auto 0;
  border-radius: 2px;
}
